$background_color2: #E5E5E5;
$color_facebook: #425893;
$color_twitter: #6BAAE8;
$color_instagram: #4B7197;
$color_youtube: #c33838;

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.icon_social {
  font-size: 1.8rem;
  padding-right: .5rem;
  cursor: pointer;
}

.facebook {
  color: $color_facebook;
}

.twitter {
  color: $color_twitter;
}

.instagram {
  color: $color_instagram;
}

.youtube {
  color: $color_youtube;
}

.dimension_50 {
  aspect-ratio: 16 / 9;
  width: 50%;
  object-fit: cover;
}

.dimension_100 {
  aspect-ratio: 16 / 9;
  width: 100%;
  object-fit: cover;
}

.dimension_30 {
  aspect-ratio: 4 / 3;
  width: 20%;
  object-fit: cover;
}

.dimension_1_1 {
  aspect-ratio: 1 / 1;
  width: 20%;
  object-fit: cover;
}