$primary-color: #3BAFBF;
$white-text: #FFFFFF;
$primary-text: #DDDDDD;
$background_color2: #E5E5E5;
$color_facebook: #425893;
$color_twitter: #6BAAE8;
$color_instagram: #4B7197;
$color_youtube: #c33838;